<h1>My Game</h1>
<p>Game of <%= current_user.username %></p>

---------------------------
<br><br>

<% if current_user.user_playing_creature %>
  <%= link_to "Select Another Playing Monster", edit_user_playing_creature_path(current_user.user_playing_creature.id) %>
  <br><br><strong>Playing Monster</strong>
  <br>Monster: <%= current_user.user_playing_creature.user_creature.creature %>
  <br>Nickname: <%= current_user.user_playing_creature.user_creature.nickname %>
  <br>HP: <%= current_user.user_playing_creature.user_creature.hp %>
  <br>GPS Location: <%= current_user.user_playing_creature.location_id %>
  <% @locations.each do |location| %>
    <% if location.gps == current_user.user_playing_creature.location_id %>
      <p>
      A wild creature appears!
      <br>Opponent: <%= location.creature.name %>
      <br>Location: <%= location.name %>
      <br><br><%= link_to "Fight", fight_path(current_user.user_playing_creature.id) %> | 
      <%= link_to "Flee", walk_path(current_user.user_playing_creature.id) %>
      </p>
    <% end %>
  <% end %>
  <br><br><%= link_to "Walk", walk_path(current_user.user_playing_creature.id) %>

<% else %>
  <strong>Playing Monster</strong>
  <br><br><%= link_to "Select Playing Monster", new_user_playing_creature_path %>
<% end %>

<br><br>


---------------------------
<br><br>

<%= link_to "Monster Party", show_monsters_path %>

<br>
<br>
